@model IEnumerable<ExpoAllBooksViewModel>

<div class="container-fluid" style="margin-left:60px">

    <div class="row">
        <div class="col-md-8 d-flex justify-content-center" style="margin-top:60px">

            <table class="table table-stacked">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Rating</th>
                        <th>PublishedDate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr class="bookalike review">
                            <td><img src="@book.ImageUrl" alt="@book.Title cover photo." width="50" height="82"></td>
                            <td>@book.Title</td>
                            @foreach (var name in book.AuthorsNames)
                            {
                                <td>@name</td>
                            }
                            <td>@book.BookRating</td>
                            <td>@book.PublishedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
