<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            @foreach (var author in @Model.AuthorsNames)
            {
                <img class="circular-image" src="@author.ImageUrl" alt="@author.AuthorPseudonim" class="img-fluid" width="100" height="150">
                <p>@author.AuthorPseudonim</p>
                <p><strong>Date of Birth: </strong> @author.BirthDate</p>
                <p><strong>Number of Books in our website:</strong> @author.BooksCount</p>
                <p><strong>Short Biography:</strong></p>
                <p>@author.Description.Substring(0, 241) ...</p>
            }
        </div>

    </div>
</div>

