<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            @foreach (var author in @Model.AuthorsNames)
            {
                <a asp-action="GetAuthorById" asp-controller="Author" asp-route-id="@author.AuthorId">
                    <img class="circular-image img-fluid" src="@author.ImageUrl" alt="@author.AuthorPseudonim" width="100" height="150" title="@author.AuthorPseudonim">
                    <p>@author.AuthorPseudonim</p>
                </a>
                <p><strong>Date of Birth: </strong> @author.BirthDate</p>
                <p><strong>Number of Books in our website:</strong> @author.BooksCount</p>
                <p><strong>Short Biography:</strong></p>
                <p>@author.Description.Substring(0, 241)  <a asp-action="GetAuthorById" asp-controller="Author" asp-route-id="@author.AuthorId">...</a></p>
            }
        </div>

    </div>
</div>

